
body {
  background-color: skyblue;
}

.card {
  padding-right: 10px;
  padding-left: 10px;
}

#save {
  margin: 20px;
}

#day-weather {
  text-align: center;
}

footer {
  text-align: center;
}

#icon-lrg {
  font-size: 200px;
  padding-bottom: 0px;
}

.card-icon {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}

a:hover {
  cursor: pointer;
  display: inline-block;
  padding-top: 10px;
  background-color: rgb(102, 146, 241);
}

#weather-cards {
  display:flex;
  justify-content: center;
}